* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 90%;
  margin: 30px auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 2.6px 1.95px;
}
.tabs {
  display: flex;
  list-style: none;
}
.tabs li {
  display: block;
  width: 33.33%;
  text-align: center;
  background-color: #f6f6f6;
  padding: 15px 35px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 17px;
}
.tabs li.active,
.tabs li:hover {
  background-color: #fff;
  border: none;
  border-top: 4px solid #1db9c3;
  transition: 0.1s;
}

.container .content .profile,
.container .content .settings,
.container .content .about {
  padding: 40px 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .content > div:not(.visible) {
  display: none;
}
.container .content h3 {
  margin: 15px 0;
}
.container .content .profile img {
  border-radius: 75px;
  margin-bottom: 25px;
}
.container .content .profile table {
  margin-bottom: 35px;
  width: 80%;
}
.container .content table td {
  padding: 7px 0;
  font-weight: 300;
  width: 180px;
}
.container .content .profile table td.title {
  font-weight: bold;
}
.container .content .profile table td:not(.title) {
  text-align: center;
}
.container .content .settings input:not([type="submit"]):not([type="reset"]) {
  padding: 3px 10px;
  outline: none;
  width: 100%;
}
.container .content hr {
  width: 100%;
  margin: 25px 0 25px;
  height: 2px;
  background-color: #1db9c3;
}
.container button,
input[type="submit"],
input[type="reset"] {
  padding: 10px 15px;
  border: none;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
}
.container button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  letter-spacing: 1.1px;
  transition: 0.4s;
}
.container .primary {
  background-color: #00a19d;
}
.container .danger {
  background-color: #b61919;
  color: #fff;
}
.container .secondary {
  background-color: #ddd;
}
.container .content .settings td {
  padding: 7px 0;
}
.container .content p {
  padding: 50px;
  line-height: 1.5;
  text-align: center;
  font-size: 18px;
}

/* menu icon in admin */
.container-wrapper {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  height: 50px;
}

.menu-icon {
  display: inline-block;
  cursor: pointer;
  margin-left: 40px;
  margin-top: 10px;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #000;
  margin: 5px 0;
}
/* sidebar */
.offcanvas-header {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.offcanvas-body {
  padding: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rows {
  display: flex;
  align-items: center;

  padding-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.rows:hover {
  /* background-color: #f0f0f0; */
  background-color: #007bff;
  color: #fff;
}

.rows i {
  margin-right: 20px;
  font-size: 25px;
}
.rows p {
  margin-top: 25px;
  font-size: 20px;
}

.rows.active {
  background-color: #007bff;
  color: #fff;
}
.glitter {
  position: relative;
}

.glitter::before {
  content: "";
  position: absolute;
  top: -20%;
  left: -50%;
  width: 150%;
  height: 150%;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  background-size: 80px 80px;
  z-index: 1;
}

.gradient-text {
  background-image: linear-gradient(to right, #9370db, #00ffff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-purple {
  color: #9370db;
}

.text-cyan {
  color: #00ffff;
}

.styled-list {
  list-style: none;
  counter-reset: my-counter;
  padding-left: 0;
}

.styled-list li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}

.styled-list li:before {
  content: counter(my-counter);
  counter-increment: my-counter;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #007bff;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-weight: bold;

  margin-left: -1rem;
}

.styled-list li:nth-child(odd) {
  background-color: #f0f0f0;
}
